<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">{{ utilisateur.role }}</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">{{ utilisateur.etat }}</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{ utilisateur.nom }} {{  utilisateur.prenom }}</h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{ utilisateur.dateNaissance }}</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{ utilisateur.email }}</div>
            <!-- <div><i class="ni education_hat mr-2"></i>University of Computer Science</div> -->
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h6>Mes préférences <button class="btn btn-sm btn-icon btn-primary" (click)="open(classic, 'Notification', 'sm')">
                  <i class="fa fa-pencil"></i>
                </button></h6>
                <div class="row">
                  <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let competence of competencesUtilisateur">
                      <button style="border: none;" class="badge badge-pill badge-success text-uppercase">
                           {{ competence.nomCompetence }} 
                      </button>
                    </div>                  
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <ng-template #classic let-c="close" let-d="dismiss">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-default">personnaliser vos preferences</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6>mes preferences</h6>
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let competence of competencesUtilisateur">
                        <button style="border: none;" class="badge badge-pill badge-success text-uppercase">
                             {{ competence.nomCompetence }}   <i class="fa fa-trash" style="color: red;cursor: pointer;" (click)="supprimerCompetenceUtilisateur(competence._id)"></i>
                        </button>
                      </div>                  
                  </div>
                  <hr>
                  <h6>les preference disponible</h6>  
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let competence of competences; let i = index">
                          <button style="border: none;cursor: pointer;" class="badge badge-pill badge-primary text-uppercase" (click)="ajouterCompetenceUtilisateur(competence._id)">
                              {{ competence.nomCompetence }}
                          </button>
                      </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link ml-auto" data-dismiss="modal" (click)="c('Close click')">fermer</button>
                </div>
              </div>
            </ng-template>
          </div>

          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h6>Mes employer favorie <button class="btn btn-sm btn-icon btn-primary" (click)="open(fav, 'Notification', 'sm')">
                  <i class="fa fa-pencil"></i>
                </button></h6>
                <div class="row">
                  <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let employe of favoris">
                      <button style="border: none;" class="badge badge-pill badge-success text-uppercase">
                           {{ employe.email }} 
                      </button>
                    </div>                  
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <ng-template #fav let-c="close" let-d="dismiss">
              <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-default">personnaliser vos favorie</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6>mes favories</h6>
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let employe of favoris">
                        <button style="border: none;" class="badge badge-pill badge-success text-uppercase">
                             {{ employe.nom }} {{ employe.prenom }}   
                             <i class="fa fa-trash" style="color: red;cursor: pointer;" (click)="supprimerFavoriUtilisateur(employe._id)"></i>
                        </button>
                      </div>                  
                  </div>
                  <hr>
                  <h6>nos employer</h6>  
                  <div class="row">
                    <div class="col-lg-3 col-sm-6 mt-3 mt-md-0" *ngFor="let employe of employes; let i = index">
                          <button style="border: none;cursor: pointer;" class="badge badge-pill badge-primary text-uppercase" (click)="ajouterFavoriUtilisateur(employe._id)">
                            {{ employe.nom }} {{ employe.prenom }}   
                          </button>
                      </div>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-link ml-auto" data-dismiss="modal" (click)="c('Close click')">fermer</button>
                </div>
              </div>
            </ng-template>
          </div>
          

          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                <!-- <a href="javascript:void(0)">Show more</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
