<!-- signup.component.html -->
<div class="alert-container">
  <div *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" [dismissible]="true" (close)="close(alert)">
      <ng-container *ngIf="alert.icon">
        <div class="alert-inner--icon">
          <i class="{{alert.icon}}"></i>
        </div>
      </ng-container>
      <span class="alert-inner--text"> <strong>{{alert.strong}} </strong>{{ alert.message }}</span>
    </ngb-alert>
  </div>
</div>

<style>
  /* signup.component.scss */
  .alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
  }

  .alert {
    margin-bottom: 10px;
  }
</style>


<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>s inscrire avec</small>
              </div>
              <div class="text-center">
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/github.svg">
                  </span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <img src="./assets/img/icons/common/google.svg">
                  </span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>ou s inscrire avec des identifiants</small>
              </div>
              <form role="form">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Nom" type="text" [(ngModel)]="nom" (focus)="focusNom=true"
                      (blur)="focusNom=false">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Prénom" type="text" [(ngModel)]="prenom"
                      (focus)="focusPrenom=true" (blur)="focusPrenom=false">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control" placeholder="Date de naissance" type="date" [(ngModel)]="dateNaissance"
                      (focus)="focusDateNaissance=true" (blur)="focusDateNaissance=false">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                    </div>
                    <select class="form-control" placeholder="Genre" [(ngModel)]="genre">
                      <option value="1">Masculin</option>
                      <option value="2">Féminin</option>
                      <option value="3">Autre</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" [(ngModel)]="email"
                      (focus)="focusEmail=true" (blur)="focusEmail=false">
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Mot de passe" type="password" [(ngModel)]="motDePasse"
                      (focus)="focusMotDePasse=true" (blur)="focusMotDePasse=false">
                  </div>
                </div>

                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4" (click)="createAccount()">Créer un compte</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>